
body{
margin:0;
font-family:sans-serif;
background:linear-gradient(120deg,#ff9966,#ff5e62);
background-image:url(w-2.jpg);
background-size: cover;
display:flex;
justify-content:center;
align-items:center;
height:100vh;
animation: fadeIn 1.5s ease-in-out
}
body::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      background: rgba(0,0,0,0.6);
      z-index: 0;
    }
@keyframes fadeIn {
      from { opacity: 0; transform: translateY(-20px); }
      to { opacity: 1; transform: translateY(0); }
    }
.box{
position: relative;
      z-index: 1;
      background: rgba(5, 35, 141, 0.9);
      backdrop-filter: blur(10px);
      border-radius: 15px;
      padding: 40px;
      width: 350px;
      box-shadow: 0 0 25px rgba(0,0,0,0.5);
      text-align: center;
      animation: slideIn 1.5s ease;
      color:whitesmoke;
}
@keyframes slideIn {
      from { opacity: 0; transform: translateY(50px); }
      to { opacity: 1; transform: translateY(0); }
    }
button{
background:#e31837;
color:white;
border:none;
padding:8px 15px;
border-radius:5px;
}


img {
      width: 90px;
      border-radius: 50%;
      margin-bottom: 20px;
      animation: float 3s ease-in-out infinite;
    }
@keyframes float {
      0%,100% { transform: translateY(0); }
      50% { transform: translateY(-10px); }
    }
