
body{
    margin:0;
    font-family:'Poppins',sans-serif;
    background:linear-gradient(135deg,#1e3c72,#2a5298);
    color:white;
    animation:fadeIn 1.2s ease-in-out;
}

header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:15px 30px;
    background:#0b3d91;
    box-shadow:0 4px 15px rgba(0,0,0,0.4);
}

.logo{
    height:45px;
}

.header-left{
    display:flex;
    align-items:center;
    gap:12px;
}

/* ANIMATIONS */
@keyframes fadeIn{
    from{opacity:0; transform:translateY(-20px);}
    to{opacity:1; transform:translateY(0);}
}

@keyframes slideUp{
    from{opacity:0; transform:translateY(40px);}
    to{opacity:1; transform:translateY(0);}
}


.table-container{
    width:90%;
    margin:40px auto;
    background:rgba(255,255,255,0.95);
    color:black;
    border-radius:15px;
    padding:20px;
    box-shadow:0 10px 30px rgba(0,0,0,0.3);
    animation:slideUp 1.2s ease;
}

h1{
    text-align:center;
    margin-top:20px;
}

table{
    width:100%;
    border-collapse:collapse;
    margin-top:15px;
}

th,td{
    padding:12px;
    border-bottom:1px solid #ddd;
    text-align:center;
}
.complete-btn {
    background: #2ecc71;
    color: white;
    border: none;
    padding: 8px 14px;
    border-radius: 20px;
    cursor: pointer;
    font-weight: 600;
    transition: 0.3s ease;
}

.complete-btn:hover {
    background: #27ae60;
    transform: scale(1.05);
}


th{
    background:#e31837;
    color:white;
}

tr:hover{
    background:#f3f3f3;
    transition:0.3s;
}
#ownerLoginBtn {
            position: fixed;
            top: 50px;
            right: 50px;
            z-index: 1000;
            background: #d62300;
            color: white;
            padding: 10px 16px;
            font-weight: bold;
            border-radius: 25px;
            cursor: pointer;
            box-shadow: 0 8px 20px rgba(0, 0, 0, 0.35);
            transition: 0.3s ease;
            font-family: Arial, sans-serif;
            font-size: 14px;
        }

        #ownerLoginBtn:hover {
            background: rgba(14, 176, 216, 0.8);
            transform: scale(1.05);
        }


.no-order{
    text-align:center;
    margin-top:20px;
    font-size:18px;
}
