<section>
<div class="hero">
  <div class="overlay">
    <div class="content">
      <h1>Welcome to CreamStone 🍦</h1>
      <p>Handcrafted Ice Creams Mixed on Stone with Love</p>

      <button routerLink="/menu">
        Explore Menu
      </button>
    </div>
  </div>
</div>
</section>

<section class="features">
  <div class="feature-card">
    <h3>🍓 Fresh Ingredients</h3>
    <p>Only the best fruits and toppings.</p>
  </div>

  <div class="feature-card">
    <h3>🍫 Premium Chocolate</h3>
    <p>Imported rich cocoa flavors.</p>
  </div>

  <div class="feature-card">
    <h3>🥭 Exotic Flavors</h3>
    <p>Unique handcrafted combinations.</p>
  </div>
</section>
