ul {
    list-style: none;
    padding: 0;
}

li {
    background: white;
    margin-bottom: 1rem;
    padding: 1rem 1.5rem;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

li:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
}

button {
    background: #67d2ab;
}

button:hover {
    background: #059669;
}