.home-welcome {
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 2rem;
    color: #cebf80;
    animation: fadeIn 1s ease forwards;
}

.home-cards {
    display: flex;
    gap: 2rem;
    justify-content: center;
    flex-wrap: wrap;
}

.course-card {
    background: white;
    border-radius: 15px;
    padding: 2rem 1rem;
    width: 300px;
    text-align: center;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.4s ease;
    max-height: 180px;
    max-width: 200px;
}

.course-card:hover {
    transform: translateY(-10px) scale(1.05);
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2);
    background: linear-gradient(135deg, #574588, #3173b6);
    color: white;
}

.course-card h3 {
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
}

.course-card p {
    font-size: 0.95rem;
    color: #b6a985;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}